.Header {
    grid-area: h;
    background-color: #B071D0;
}

.Header img {
    width: 70px;
    padding: 10px;
}

.loginBlock {
    float: right;
}

.loginBlock a {
    text-decoration: none;
    color: black;
    font-size: 24px;
}